nav {
    background: none;
    display: flex;
    justify-content: space-between;
}

.row {
    margin: 10px;
}

nav a {
    color: #CCC9DC;
    margin: 2px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

nav li {
    list-style-type: none;
}

nav a:hover {
    color: #324A5F;
    text-decoration: none;
}

body {
    background-color: #1B2A41;
    color: #CCC9DC;
}

.content {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.content a {
    color: #CCC9DC;
}

.post {
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #324A5F;
}