nav {
    background: none;
    display: flex;
    justify-content: space-between;
}

.row {
    margin: 10px;
}

nav a {
    color: #2C2724;
    margin: 2px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

nav li {
    list-style-type: none;
}

nav a:hover {
    color: #888B92;
    text-decoration: none;
}

body {
    background-color: #DAD9DE;
    color: #2C2724;
}

.content {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.content a {
    color: #2C2724;
}

.post {
    border: 1px solid #2C2724;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #DAD9DE;
}

#home-img {
    width: 100%;
    height: 600px;
}