{% extends 'blog/index.html' %} {% block content %}
<div class="about-title">
    <h1>About Page </h1>
</div>
<div class="about-page col">

    <div class="row images">
        <img class="pic" src="../static/assets/tc_HK.jpg">
        <img class="pic" src="../static/assets/tc_col.jpg">
        <img class="pic" src="../static/assets/tc_SF.jpg">
    </div>

    <div class="row">

        <p>pork loin flank cow. Picanha sirloin nisi, mollit tempor in in pork kevin sed laboris ipsum labore. Turkey andouille nostrud eu picanha nulla. Tail id velit ham. Dolore pariatur in, shoulder porchetta qui ball tip. Swine velit chicken adipisicing
            ut chuck dolor in tempor leberkas laborum shank. Eiusmod pancetta andouille pig biltong filet mignon esse venison alcatra ullamco meatball pork loin commodo flank. Rump tri-tip ullamco, jerky in nostrud spare ribs ex turkey capicola. Porchetta
            in pariatur ut, aliqua alcatra lorem jerky. Cow occaecat dolor meatball nostrud excepteur aliquip turkey leberkas esse aliqua. Andouille pastrami tempor occaecat lorem. Filet mignon labore short loin pork loin ex. Sunt shoulder boudin, kielbasa
            elit venison mollit exercitation ut excepteur labore meatball incididunt. Landjaeger laborum quis cupim drumstick magna. Meatball aliquip enim, beef in capicola brisket shoulder. Dolor beef ribs id frankfurter sunt ball tip ipsum aliquip capicola
            velit nisi. Pariatur beef rump duis officia aute doner ground round ball tip swine fatback eiusmod. Andouille laborum short loin commodo incididunt. Strip steak tongue jowl meatloaf. Fatback tri-tip pig officia bacon irure, swine andouille
            frankfurter nulla pancetta adipisicing burgdoggen venison ut. Beef ullamco cupim ham hock alcatra, duis voluptate do eiusmod. Tongue laborum sausage doner sunt spare ribs. Short loin filet mignon pork belly swine. Adipisicing andouille shankle
            pariatur in. Id commodo porchetta meatball flank culpa ground round, non pariatur sed. Tempor sausage dolore brisket, non strip steak qui. Kielbasa venison short ribs esse sint eu nostrud. Mollit brisket capicola, spare ribs t-bone in tri-tip
            dolore nostrud in shoulder pig. Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p>
        <p>pork loin flank cow. Picanha sirloin nisi, mollit tempor in in pork kevin sed laboris ipsum labore. Turkey andouille nostrud eu picanha nulla. Tail id velit ham. Dolore pariatur in, shoulder porchetta qui ball tip. Swine velit chicken adipisicing
            ut chuck dolor in tempor leberkas laborum shank. Eiusmod pancetta andouille pig biltong filet mignon esse venison alcatra ullamco meatball pork loin commodo flank. Rump tri-tip ullamco, jerky in nostrud spare ribs ex turkey capicola. Porchetta
            in pariatur ut, aliqua alcatra lorem jerky. Cow occaecat dolor meatball nostrud excepteur aliquip turkey leberkas esse aliqua. Andouille pastrami tempor occaecat lorem. Filet mignon labore short loin pork loin ex. Sunt shoulder boudin, kielbasa
            elit venison mollit exercitation ut excepteur labore meatball incididunt. Landjaeger laborum quis cupim drumstick magna. Meatball aliquip enim, beef in capicola brisket shoulder. Dolor beef ribs id frankfurter sunt ball tip ipsum aliquip capicola
            velit nisi. Pariatur beef rump duis officia aute doner ground round ball tip swine fatback eiusmod. Andouille laborum short loin commodo incididunt. Strip steak tongue jowl meatloaf. Fatback tri-tip pig officia bacon irure, swine andouille
            frankfurter nulla pancetta adipisicing burgdoggen venison ut. Beef ullamco cupim ham hock alcatra, duis voluptate do eiusmod. Tongue laborum sausage doner sunt spare ribs. Short loin filet mignon pork belly swine. Adipisicing andouille shankle
            pariatur in. Id commodo porchetta meatball flank culpa ground round, non pariatur sed. Tempor sausage dolore brisket, non strip steak qui. Kielbasa venison short ribs esse sint eu nostrud. Mollit brisket capicola, spare ribs t-bone in tri-tip
            dolore nostrud in shoulder pig. Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p>
    </div>
</div>

{% endblock %}